@tailwind base;
@tailwind components;
@tailwind utilities;

.pinkBase {
    background-color: #f8d0c8;
}

.lightGreen {
    background-color: #a7b59e;
}

.baseGreen {
    background-color: #799567;
}

.backgroundGreen {
    background-color: #5b744b;
}

.darkGreen {
    background-color: #35522b;
}

.purple{
    background-color: #9D84FE;
}

.darkBlue {
    background-color: #050A18;
}

.darkestBlue {
    background-color: #030712;
}

.headerHover {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.headerHover:hover {
    transform: scale(1.1);
}

/* Keyframes for fading and sliding animations */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* Transition classes for fade-slide */
.fade-slide-enter-active {
    animation: fadeInRight 0.35s forwards ease-in-out;
}

.fade-slide-leave-active {
    animation: fadeOutLeft 0.35s forwards ease-in-out;
}

.headerContainer {
    min-height: 6rem;
    max-height: 6rem;
}

.contentContainer {
    min-height: calc(100vh - 6rem);
    max-height: calc(100vh - 6rem);
}